@font-face {
    font-family: "Holtwood One SC";
    src: url(/font/Font/HoltwoodOneSC-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(/font/Font/Roboto-Regular.ttf);
}


:root {
    --beige: #DDA54C;
}

.header {
    background-color: #9c0e0e;
}

.header .title img {
    width: 13%;
}


.title {
    text-align: center;
}

.navbar {
    font-family: "Holtwood One SC";
    text-transform: uppercase;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.navbar ul li a::after {
    color: white;
}

.navbar ul li a:hover {
    color: #DDA54C;
}

.navbar .active {
    color: #DDA54C;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9c0e0e;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    bottom: 0 !important;
    width: 100%;
}

.copyright {
    position: absolute;
    left: 45%;
    text-align: center;
}

.footer .copyright a {
    color: white;
    font-weight: bold;
}

.footer img {
    width: 45%;
}

.footer .social-bar a {
    color: white;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font-family: "Holtwood One SC";
    font-weight: bold;
}

input[type=submit] {
    background-color: #DDA54C;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

p {
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: bold;
}


.container {
    box-sizing: border-box;
    background-color: rgb(246, 232, 210);
    padding: 20px;
    width: 100%;
}

h1 {
    color: black;
    width: 100%;
}

