.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9c0e0e;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;

    img {
        width: 45%;
    }

    .copyright {
        position: absolute;
        left: 45%;
        text-align: center;

        a {
            color: white;
            font-weight: bold;
        }
    }

    .social-bar {

        a {
            color: white;
        }
    }
}